@page
@model Agenda_UTN.Pages.Categorias.DetalleModel
@{
    ViewData["Title"] = "Detalles de una Categoria";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="text-info">Detalles una Categoría: @Html.DisplayFor(m => m.Categoria.Nombre)</h2>
            <input type="hidden" asp-for="Categoria.Id" />
            <ul class="list-group">
                <li class="list-group-item"> ID: @Html.DisplayFor(m => m.Categoria.Id)</li>
                <li class="list-group-item"> NOMBRE: @Html.DisplayFor(m => m.Categoria.Nombre)</li>
                <li class="list-group-item"> FECHA DE CREACIÓN: @Html.DisplayFor(m => m.Categoria.FechaCreacion)</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a asp-page="Index/" class="btn btn-success"> Volver</a>
        </div>
    </div>
</div>