@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-12">
        <img src="~/img/contacto.jpg" class="img-fluid" alt="Alternate Text" /> <!--IMG-FLUIS = imagen responsive-->
    </div>
</div>
